@{
  Layout = "_Layout";
}

<form action="/Vendor/@Model.ID/order" method="post">
  <input id="id" name="id" type="hidden" value="@Model.ID">
  <label>order Date
    <input id="orderDate" name="orderDate" type="text">
  </label>
  <label>quantity
    <input id="quantity" name="quantity" type="number" required>
  </label>
  <label>Price
    <input id="price" name = "price" type ="number" required>
  </label>
  <label>Description
    <input id="description" name="description" type="text" required>
  </label>
  <button type="submit">submit</button>
</form>