@{
  Layout = "_Layout";
}

<form action="/Vendor/@Model.ID/order" method="post">
  <input id="id" name="id" type="hidden" value="@Model.ID">
  <label>order Date
    <input id="orderDate" name="orderDate" type="text">
  </label>
  <label>quantity
    <input id="quantity" name="quantity" type="number">
  </label>
  <button type="submit">submit</button>
</form>