@{
  Layout = "_Layout";
}
@using OrderTracker.Models;
<h1>@Model.OrderDate</h1>
<p>quantity ordered: @Model.Amount units</p>
<p>price: $@Model.Price</p>
<p>description: @Model.Description</p>

<a href="/vendor/@Model.ParentID">Back to vendor</a>